* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
   box-sizing:border-box;
}

html {
    font-size:62.5%; // 1rem=10px 10/16 *100 % = 62.5%

@media only screen and (max-width:$breakpoint-1023) {

       font-size:47%;
    }

@media only screen and (max-width:$breakpoint-832) {

       font-size:37%;
    }

@media only screen and (max-width:$breakpoint-600) {

       font-size:30%;
    }

@media only screen and (max-width:$breakpoint-500) {

       font-size:25%;
    }

@media only screen and (max-width:$breakpoint-478) {

       font-size:22%;
    }

@media only screen and (max-width:$breakpoint-400) {

       font-size:20%;
    }
}

body{
    font-family:'Work Sans', sans-serif;
    font-weight:300;
    font-size:1.6rem;
    line-height:1.3;
    color:#777;
    background-color:var(--color-white);
}



