.about{
	display:flex;
	height:60rem;
	//border: 2px solid green;
	align-items: center;
	jusitfy-content: center;
	margin-bottom:8rem;

	@media (max-width: 480px){
		height:80rem;
    }	
	

	&__left{
		//border: 2px solid pink;
		display:flex;
		flex-direction:column;
		height:80%;
		width:55%;
		align-items: flex-end;
		//padding: 2rem;
		padding-top:3rem;
		padding-right:6rem;

		& p{
			
			font-size:1.8rem;
			text-align:center;
			font-weight:350;

			@media (max-width: 480px){
				font-size:1.5rem;
    		}
		}

		& h2{
			
			font-size:3.5rem;
			text-align:center;
			font-weight:700;

		}
	}

	&__xp {

	}

	&__para{
		line-height:2.5rem;
		width:60%;
		margin-bottom:3rem;
		font-weight:500;
	}

	&__work {
		display:flex;
		justify-content:center;
		width:60%;
	}

	&__points{
		text-align:center;
		margin-right:2rem;
	}

	&__profile {
		position:relative;
		width:27rem;
		height:27rem;
		left:0%;
		top:0%;
		transition: all .7s;
		//border: 2px solid blue;

		&:hover {
			transform:translate(-3px, -3px);
			transition: all .7s;
		}

		&:hover .about__overlay{
			opacity:0;
			transition: opacity .7s;
		}

		&:hover .about__img{
			filter:grayscale(0%);
			transition: all .7s;
			box-shadow:1rem 2.2rem 4rem rgba(black, .6);
		}

		&:hover .about__border {
			transform:translate(1rem, 1rem);
			
		}
		
	}



	&__right{
		//margin:5rem 3rem;
		//padding:2rem 3rem;
	}

	&__img{
		position:absolute;
		display:block;
		width:100%;
		box-shadow:0.5rem 1.5rem 4rem rgba(black, .3);
		filter:grayscale(100%);
		transition: all .7s;
		border-radius:2rem;
	}

	&__border{
		background-color: var(--color-primary);
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		//transform:translate(2rem, 2rem);
		opacity:.4;
		z-index:-1;
		transition: all .7s;
		border-radius:2rem;
	}

	&__overlay {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		transition: all .7s;
		background-image:linear-gradient(to right bottom, rgba($color-primary-light,0.6), rgba($color-primary,0.6 ));
		border-radius:2rem;
	}
}