.btn{

	
	text-decoration:none;
	font-size:$default-font-size;
	text-transform:uppercase;
}


.btn-gtg{
	font-size:$default-font-size;
	position:absolute;
	border-radius:1rem;
	padding: 2rem 3rem;

	&:link,
	&:visited{
	
		color:var(--color-white);
		background-color:var(--color-primary);
		transition: all 0.4s;
		background-position:0%;
		background-image:linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-darkgrey) 50%);
		background-size:250%;
		box-shadow:.5rem 1rem 1rem rgba(black,0.3);
		font-weight:500;
	}


	&:hover,
	&:active {
		color:var(--color-white);
		transform:translateX(8px);
		background-position:100%;
	
	}

}

.btn-grtg{
	font-size:$default-font-size;
	border-radius:3rem;
	border:2px solid var(--color-primary);
	background-color:(--color-darkgrey);
	padding: 1rem 3rem;

	&:link,
	&:visited{
	
		color:var(--color-darkgrey);
		background-color:(--color-darkgrey);
		transition: all 0.4s;
		background-position:0%;
		background-image:linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
		background-size:250%;
		box-shadow:.5rem 1rem 1rem rgba(black,0.3);
		font-weight:500;
	}


	&:hover,
	&:active {
		color:var(--color-white);
		transform:translateX(8px);
		background-position:100%;
	
	}

}

.navigation {
	
	list-style:none;
	position:fixed;
	left:94%;
	top:40%;
	transition:all 1s;
	z-index:1;
	
	
	 & li {
	 	margin:1rem;

	 	& a {
	 		display: block;
	 		border-radius:50%;
	 		text-decoration:none;
	 		border:.2rem solid var(--color-lightgrey);
	 		padding-bottom:0.5rem;
	 		height:1.3rem;
			width:1.3rem;
			margin:1.5rem;
			transition:all 0.5s;
	 	}



	 	& a:hover, a.active{
	 		border-radius:0%;
	 		transform:rotate(90deg);
	 		border:.2rem solid var(--color-lightgrey);
	 	}
	 }
}