//COLORS


:root{
 --color-primary:#1bb883;
 --color-primary-light:#8bbbab;

 --color-black:#000;
 --color-white:#fff;

 --color-lightgrey:#BCBCBC;
 --color-lightgrey-2:#f2f2f2;
 --color-darkgrey:#808080;
 --color-darkgrey-2:#191919;

 --color-yellow:#f2cf0d;

 --color-facebook:#3b5998;
 --color-twitter:#1da1f2;
 --color-instagram:#c32aa3;
 --color-linkedin:#0a66c2;
 }

//SASS VARIABLES

 $color-primary:#1bb883;
 $color-primary-light:#8bbbab;

 //RESPONSIVENESS VARIABLES

$breakpoint-400: 25em;
$breakpoint-400: 25em;
$breakpoint-478: 28.25em;
$breakpoint-500: 33.125em;
$breakpoint-600: 41em;
$breakpoint-832: 52em;
$breakpoint-1023: 63.938em;

//FONTS

$default-font-size:1.6rem;


//GRID

$horizontal-gutter:6rem;
$vertical-gutter:6rem;

//ABOUT
$about--horizontal-gutter:8rem;
$about--vertical-gutter:8rem;